$blue: #1b365d;
$alt-blue: #17457a;
$orange: #eb6a2c;

$header-height-lg: 100px;
$header-height-md: 90px;
$header-height-sm: 70px;

$breadcrumb-height: 50px;

$main-nav-width: 300px;

$brand-success: #158460;
$brand-info: #2198c2;
$brand-warning: #efa640;
$brand-danger: #AC3E3B;

$gray-light: #EDEFF5;
$gray-lighter: lighten($gray-light, 3%);
$gray-medium: darken($gray-light, 10%);
$gray-dark: darken($gray-light, 20%);
$gray-darker: darken($gray-light, 25%);

$border-color: $gray-medium;