$blue: #1b365d;
$alt-blue: #17457a;
$alt-blue2: #006BA6;
$orange: #eb6a2c;

$header-height-lg: 100px;
$header-height-md: 90px;
$header-height-sm: 70px;

$breadcrumb-height: 50px;

$main-nav-width: 300px;
$main-nav-width-sm: 225px;

$brand-success: #158460;
$brand-info: #2198c2;
$brand-warning: #efa640;
$brand-danger: #AC3E3B;

$gray-light: #EDEFF5;
$gray-lighter: lighten($gray-light, 3%);
$gray-medium: darken($gray-light, 10%);
$gray-dark: darken($gray-light, 20%);
$gray-darker: darken($gray-light, 30%);
$gray-darkest: darken($gray-light, 50%);

$border-color: $gray-medium;

$text-color: #39414e;

$twitter: #00aced;
$facebook: #3b5998;
$linkedin: #4875B4;
$pinterest: #C92228;