/* Category */

.post-type-archive-events {
    .meta-event {
        p {
            margin: 0.3em 0;
            color: lighten($text-color, 15%);
            strong {
                color: $text-color;
            }
        }
    }
}

#event-posts {
    article {
        &.horizontal {
            .meta-event {
                p {
                    margin: 0.3em 0;
                    color: lighten($text-color, 15%);
                    strong {
                        color: $text-color;
                    }
                }
            }
        }
    }
}


/* Single Event Page */

.single-events {
    .featured {
        margin-top: 4em;
        .featured-bg {
            height: 550px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 1;
            &:hover {
                height: 550px;
                width: 100%;
                margin-left: 0;
            }
        }
        .meta-event{
            font-size: 0.9em;
        }
    }
    .meta-box {
        &.meta-box-events {
            display: block;
            padding: 0.7em 2em 2em 2em;    
            border-top: 0;
            margin: 0;
            @include media-breakpoint-up(sm) {
                padding: 1.5em 2em 2em 2em;    
            }
            &::before {
                display: none;
            }
            strong {
                margin-bottom: 1em;
                position: relative;
                @include media-breakpoint-up(sm) {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .meta-row {
                margin: 1em 0;
                display: block;
                position: relative;
                &:first-of-type {
                    margin-top: 0;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                &.location {
                    .meta-content {
                        line-height: 1.6em;
                    }
                }
                .meta-content {
                    padding-left: 0;
                    p {
                        &:first-of-type {
                            margin-top: 0;
                        }
                    }
                    @include media-breakpoint-up(sm) {
                        padding-left: 150px;
                    }
                    strong{
                        position: relative;
                    }
                }
            }
            .event-cta {
                display: flex;
                justify-content: center;
                @include media-breakpoint-up(sm) {
                    justify-content: flex-end;
                }
            }
        }
        p {
            flex-grow: 1;
        }
    }
}