#recent-posts{
    margin-top: 1.875em;
    .see-all{
        margin-top: 0;
    }
}

.featured-intro{
    p{
        margin-bottom: 0;
    }
}


.see-all{
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
    .btn{
        margin: 1em 0;
    }
}