#recent-posts{
    margin-top: 1.875em;
    .see-all{
        margin-top: 0;
    }
}

.featured-intro{
    p{
        margin-bottom: 0;
    }
}


.see-all{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    @include media-breakpoint-up(sm) {
        justify-content: flex-end;    
    }
    .btn{
        margin: 1em 0;
    }
}