/**
* #.# Single
*
* Styles for single.php and single-portfolio.php
*/

.owl-carousel, .image-row, .img-quote-row, #comments, #gallery, video, audio, iframe, .full-width-quote, .smaller-quote{
    margin: 2.5rem 0;
    @include media-breakpoint-up(md) {
        margin: 4rem 0;
    }
} 

.single-post{
    #main-content{
        padding-bottom: 5px;    
    }
}
#post-intro{
    margin: 2em 0 0;
    font-size: 1.15rem;
    @include media-breakpoint-up(sm) {
        margin: 3em 0 0;
        font-size: 1.3rem;
    }
    p{
        margin-bottom: 0;
        font-size: 1em;
    }
    + .container-sm{
        margin-top: 1em;    
    }
}

//videos, podcasts
.media{
    margin: 1em 0 2.5em;
    @include media-breakpoint-up(lg) {
        margin: 1em 0 4em;
    }    
}

.content-only{
    margin-top: 0;   
}


//flexible fields
.full-width-quote{
    font-size: 1.4em;
    font-style: italic;
    color: $blue; 
    @include media-breakpoint-up(sm) {
        font-size: 1.7em;
    }
}

//content with floating images
.img-left{
    margin: 1em auto;
    max-width: 85%;
    @include media-breakpoint-up(sm) {
        float: left;
        margin: 0.5em 1.5em 0.5em 0;
        max-width: 300px;   
    }
}

.img-right{
    margin: 1em auto;
    max-width: 85%;
    @include media-breakpoint-up(sm) {
        float: right;
        margin: 0.5em 0 1em 1.5em;
        max-width: 300px;        
    }
}
 
.content-with-image{
    .img-left, .img-right{
        display: flex;
        flex-flow: column;
        justify-content: center;
        img{
            align-self: center;
        }
    }
    p{
        &:first-of-type{
            margin-top: 0;
        }
    }
}

//image slider
.owl-carousel{
    .item{
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    } 
}

//image single or double columns
.image-row{
    .img-row-bg{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 60%;
    }
    .single-column{
        .img-row-bg{
            padding-bottom: 50%;
        }
    }
}

//chat post format
.qa-row{
    margin-bottom: 4em;
    margin-top: 4em;
    .qa-wrap{
        margin-bottom: 2em;
        display: flex;
    }
    .qa-inner-image{
        margin-bottom: 4em;
    }
    h2{
        margin-bottom: 1em;
    }
    .qa-thumb{
        flex-basis: 90px;
        flex-shrink: 0;
        text-align: center;
        @include media-breakpoint-up(sm) {
            flex-basis: 125px;    
        }
        .thumb{
            position: relative;
            border-radius: 50%;
            border: 1px solid $border-color;
            width: 75px;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        svg{
            width: 32px;
            height: 46px;
            position: relative;
            top: 2px;
            fill: $orange;
        }
    }
    .question, .answer{
        position: relative;
        max-width: 100%;
        &::before{
            content: '';
            width: 15px;
            height: 15px;
            display: block;
            border: 1px solid $border-color;
            transform: rotate(45deg);
            border-right: 0;
            border-top: 0;
            position: absolute;
            top: 15px;
            left: -7px;
            background: white;
        }
        .inner{
            margin-top: 0;
            border: 1px solid $border-color;
            padding: 0.5em 1.5em;
            border-radius: 3px;
        }
    }
    .question{
        font-weight: 600;
        margin-left: 2em;
    }
    .answer-wrap{
        justify-content: flex-end;
    }
    .answer{
        margin-right: 2em;
        &::before{
            transform: rotate(227deg);    
            left: auto;
            right: -7px;
        }
    }
}

//Gallery post format
#gallery{
    .image{
        a{
            img{
                margin-top: -30px;
                transition: all 0.3s ease-in;
                transform: scale(1);
            }
            &:hover{
                img{
                    transform: scale(1.1);       
                }
            }    
        }    
    }
}
.image{
    margin-top: 30px;
}

//related posts
#related{
    background: $gray-light;
    padding: 3em 0;
    article{
        margin-bottom: 2em;
        @include media-breakpoint-up(sm) {
            margin-bottom: 0;    
        }
    }
    .col-sm-4{
        &:last-of-type{
            article{
                margin-bottom: 0;
            }
        }
    }
}

//meta box showing categories, date, and tags
.meta-box{
    border: 1px solid $border-color;
    position: relative;
    margin: 5em 0 2em;
    display: block;
    padding: 3em 2em 2em;
    @include media-breakpoint-up(sm) { 
        margin: 6em 0 2em;    
    }
    .meta-row{
        margin: 1em 0; 
        position: relative;
        .meta-content{
            padding-left: 125px;
        }
    }
    strong{
        position: absolute;
        left: 0;
    }
    ul{
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        @include media-breakpoint-up(md) { 
            display: inline-block;
        }
        li{
            margin: 0;
            a{
                color: $text-color;
            }
        }
    }
    &:before{
        content: '';
        width: 100px;
        height: 10px;
        display: block;
        background: white;
        position: absolute;
        top: -5px;
        left: 50%;
        margin-left: -50px;
    }
    .shield-logo{
        width: 45px;
        height: 60px;
        position: absolute;
        top: -35px;
        left: 50%;
        z-index: 9;
        margin-left: -22px;
        .shield{
            fill: $orange;
        }
    }
}

//post meta for both hero banner and no banners
.post-meta-top{
    .post-date{
        display: block;
        margin-top: 0.4em;
        @include media-breakpoint-up(md) {
            display: inline-block;
            margin-top: 0;
        }
    }
}

.seperator{
    margin: 0 0.3em;  
    display: none;
    @include media-breakpoint-up(md) { 
        display: inline-block;
    }
}

//pull quote with image on left
.img-quote-row{
    display: flex;
    div[class*="col"]{
        align-self: center;
    }
    blockquote{
        font-style: italic;
        font-weight: 400;
        font-size: 1.3em;
        margin: 0;
        color: $blue;
        padding: 0;
        margin: 1em 0 0; 
        @include media-breakpoint-up(md) { 
            margin: 0;    
        }
        p{
            margin: 0;
        }
    }
    &.leftquote{
        blockquote{
            padding-left: 0;
        }
    }
    &.rightquote{
        blockquote{
            padding-right: 0
        }
    }
    &.smaller-quote{
        blockquote{
            padding-right: 0;
            font-size: 1.3em;
        }
        img{
            border-radius: 50%;
            margin: 0 auto;
            display: block;
            @include media-breakpoint-down(xs) { 
                width: 200px;
                margin: auto;
            }
            @include media-breakpoint-up(md) {  
                display: block;
            }
        }
    }
}

//comment section
.facebook-comment{
    span{
        display: none;
    }
}

//no hero banner
#title-only{
    h1{
        color: $orange;
        margin-bottom: 0.2em;
    }
    .categories{
        padding-left: 0;
        margin: 0;
        list-style: none;
    }
    +#post-intro{
        margin-top: 2em;
    }
}