article{
    margin-bottom: 1.875em;
    h2{
        font-size: 1.2em;
        margin-top: 0.5em;
        font-weight: 600;
    }
    &.horizontal{
        display: flex;
        &:last-of-type{
            margin-bottom: 0;
        }
        .article-image{
            flex-shrink: 0;
            margin-right: 1em;
            flex-basis: 125px;
        }
        h2{
            font-size: 1.2em;
            margin-top: 0;
        }
        .post-date{
            font-size: 0.9em;
        }
        .categories{
            margin: 0.3em 0 0.1em;
            &::after{
                content: '';
                width: 20px;
                height: 2px;
                background: $orange;
                position: absolute;
                bottom: -11px;
            }
        }
    } 
    .categories{
        padding: 0;
        list-style: none;
        margin-top: 0.3em;
        margin-bottom: 0;
        position: relative;
        font-size: 0.95em;
        span{
            color: $gray-darkest;  
        }
        li{
            a{
                color: $gray-darkest;   
            }
        }
    }
    h2{
        margin-bottom: 0;
    }
}

.categories{
    display: inline-block;
}

.article-image{
    position: relative;
    @include post-format;
    .post-format-icon{
        bottom: 0.5em;
    }
}