.cd-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 1.5em;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: $orange url(img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    z-index: 99999999;
    border-radius: (3px);
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-top--fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@include media-breakpoint-up(sm) { 
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@include media-breakpoint-up(xl) { 
    .cd-top {
        height: 40px;
        width: 40px;
        right: 20px;
        bottom: 45px;
    }
}