#breadcrumb {
    @include medium-dropshadow;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    z-index: 99991;
    overflow: hidden;
    height: 50px;
    color: $alt-blue;
    width: 100%;
    transition: all .3s ease-in;
    white-space: nowrap;
    overflow-x: auto;
    background: white;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    @include media-breakpoint-up(sm) {
        padding: 0 2rem 0 0;
    }
    @include media-breakpoint-up(lg) {
        padding: 0 2.5rem 0 0;
    }
    .breadcrumb-inner {
        background: white;
    }
    a {
        color: $alt-blue;
    }
    > span {
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 13px 0;
        font-size: 0.9em;

        &:first-of-type {
            strong {
                font-weight: 400;
            }
            a + strong {
                font-weight: 600;
            }
        }
        span {
            display: inline-block;
            padding: 0;
            margin: 0;
        }
    }
}