.btn {
    padding: 1.2em 2.5em;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    text-align: center;
    border-radius: 3px;
    height: auto;
    i {
        vertical-align: middle;
        margin-right: 5px;
        position: relative;
        top: -.045em;
    }
    &.btn-sm {
        font-size: .8em;
    }
    &.btn-md {
        font-size: 1.05em;
    }
    &.btn-lg {
        font-size: 1.2em;
        padding: 1em 3em;
    }
    &.btn-link{
        font-size: 1.1em;
        border: 0;
        background: none;
        color: $blue;
        padding: .9em 1em;
        &:hover, &:focus{
            color: $orange;
        }
    }
    &.btn-orange {
        border: 0;
        background: $orange;
        color: white;
        text-decoration: none!important;
        font-weight: 400;
        border: 2px solid $orange;
        margin-top: 1em;
        transition: all 0.3s ease-in;
        &:hover,
        &:focus,
        &:active {
            background: darken($orange, 12%);
            border: 2px solid darken($orange, 12%);
            i {
                &:first-of-type {
                    display: none;
                }
                &:last-of-type {
                    display: inline-block;
                }
            }
        }
        i {
            width: 1em;
            &:first-of-type {
                display: inline-block;
            }
            &:last-of-type {
                display: none;
                margin-top: -.2em;
            }
        }
    }
    &[class*="btn-circle-icon"] {
        text-decoration: none;
        margin: 1.5em 0;
        padding: 0 0 0 2.8em;
        font-size: 1rem;
        font-weight: 600;
        color: $blue;
        border-bottom: 2px solid transparent;
        text-align: left;
        background: none;
        display: block;
        &.btn-white {
            color: white;
            &:hover,
            &:focus,
            &:active {
                color: white;
            }
        }
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
            color: $orange;
            &::after {
                content: '\f061'!important;
            }
        }
        &::after,
        &::before {
            position: absolute;
            content: '';
            left: 0;
            height: 30px;
            width: 30px;
            top: 50%;
            margin-top: -15px;
        }
        //orange circle
        &::before {
            border-radius: 50%;
            background: $orange;
        }
        //icons
        &::after {
            font-family: FontAwesome;
            color: white;
            font-size: 14px;
            text-align: center;
            line-height: 31px;
            margin-left: 1px;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            font-weight: normal;
        }
        &.external {
            &::after {
                content: '\f08e';
            }
        }
        &.internal {
            &::after {
                content: '\f0c1';
            }
        }
        &.download {
            &:hover,
            &:focus,
            &:active {
                &::after{
                    content: '\f061'!important;  
                }
            }
            &::after {
                content: '\f019';
                left: 0;
            }
        }
    }
    &.btn-circle-icon-lg {
        font-size: 1.1em;
        padding-left: 3.3em;
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
            color: $orange;
            &::after {
                line-height: 44px;
            }
        }
        &::after,
        &::before {
            margin-top: -22px;
            width: 44px;
            height: 44px;
        }
        &::after {
            font-size: 18px;
            line-height: 46px;
        }
    }
    &.btn-inline{
        display: inline-block;
    }
} 

.loadmore-wrap{
    width: 220px;
    margin: auto;
}