.featured {
    overflow: hidden;
    height: 100%;
    position: relative;
    .featured-bg {
        opacity: 0.7;
        position: relative;
        z-index: 9;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        transition: all 0.3s ease-in;
        &:hover{
            height: 105%;
            width: 105%;
            margin-left: -3%;
        }
    }
    h2{
        font-weight: 600;   
    }
    .featured-content {
        position: absolute;
        z-index: 99;
        left: 1em;
        right: 1em;
        bottom: 1.5em;
        @include media-breakpoint-up(sm) { 
            left: 1.5em;
            right: 1.5em;    
        }
        @include media-breakpoint-up(md) { 
            width: 70%;    
        }
        h2 {
            text-transform: uppercase;
            font-size: 1.4em;
            margin: 0;
            word-wrap: break-word;
            @include media-breakpoint-up(md) { 
                font-size: 1.6em;  
            }
            a {
                color: white;
                @include text-shadow;
            }
        }
        p{
            color: white;
            margin-top: 0.3em;
            margin-bottom: 0;
            @include text-shadow;
        }
        ul {
            padding: 0;
            margin: 0.3em 0 0;
            color: white;
            list-style: none;
            li {
                a {
                    color: white;
                    @include text-shadow;
                }
            }
        }
    }
    .featured-bg-color {
        position: relative;
        background: radial-gradient(40em at top right, #db6331, transparent);
        background-color: $blue;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    @include post-format;
}

.featured-intro{
    margin-bottom: 3em;
}  

.featured-md {
    height: 350px;
    @include media-breakpoint-up(md) { 
        height: 500px;    
    }
    .featured-bg-color {
        background: radial-gradient(20em at top right, #db6331, transparent);
        background-color: $blue;
    }
} 

#primary-featured {
    margin-bottom: 30px;
    height: 500px;
    .featured-content {
        h2 {
            text-transform: uppercase;
            font-size: 1.8em;
            @include media-breakpoint-up(md) { 
                font-size: 2.5em;    
            }
        }
    }
}

#secondary-featured{
    margin-bottom: 30px;
    @include media-breakpoint-up(md) { 
        margin-bottom: 0;
    }
}
#secondary-featured, #third-featured{
    height: 300px;
    @include media-breakpoint-up(md) { 
        height: 400px;
    }
}

#featured-posts {
    margin-top: 4em;
}
