/* Header search form */
input,
textarea,
select,
{
    width: 100%;
    display: block;
    outline: none;
    height: 60px;
    padding: 0 1.5em;
    &:focus{
        border: $orange;
    }
}

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
[type="email"] {
    -webkit-appearance: none;  
}

/* Header search form */
.searchform {
    div {
        position: relative;
        width: 100%;
        height: 60px;
    }
    #s,
    #searchsubmit {
        height: inherit;
    }
    #s {
        width: 100%;
        border: 1px solid $border-color;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 1em 6em 1em 1em;
    }
}
#searchsubmit{
    width: 105px;
    padding: 0;
    &:focus{
        border-color: $orange;
    }
}

/* Footer MailChimp sign up */

#site-footer {
    .sign-up {
        max-width: 600px;
        margin: auto;
        form {
            height: 70px;
            position: relative;
        }
        #subbox,
        #subbutton {
            height: inherit;
            border-radius: 3px;
        }
        #subbox {
            border: 0;
            background: white;
            width: 100%;
            padding: 1em 9em 1em 1em;
            @include media-breakpoint-up(sm) {
                padding: 1em 9em 1em 1em;
            }
            &:focus{
                border-color: $orange;
            }
        }
        h3 {
            font-size: 3em;
            margin: 0;
        }
        p {
            font-size: 1.2em;
            margin: 0 0 1em;
        }
        .btn-orange{
            padding: 1.2em 0;
            width: 110px;
        }
    }
}

/* Style shared between header search and MailChimp sign up*/

#searchsubmit,
#subbutton {
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

/* Ninja Forms*/

.nf-form-cont {
    padding-bottom: 3em;
    .nf-field-element input,
    .nf-field-element select,
    .nf-field-element textarea {
        padding: 1.3em 1em;
        background-image: none !important;
        border: 1px solid #ccd2e3;
        background: #f7f8fa;
        &:focus {
            border: 1px solid $orange;
        }
    }
    
    .nf-field-element{
        textarea{
            height: 90px;
        }
    }
    #nf-field-12{
        height: 175px;
    }
    .nf-form-title {
        display: none;
    }

    .nf-error-msg,
    .ninja-forms-req-symbol {
        color: $brand-danger;
    }

    .nf-form-content {
        margin-left: -4px;
        margin-right: -4px;
    } 
    
    //buttons
    .nf-fu-fileinput-button,
    .nf-field-element input[type="button"] {
        border: 0;
        background: $orange;
        color: white;
        text-decoration: none!important;
        font-weight: 400;
        border: 2px solid $orange;
        margin-top: 1em;
        transition: all 0.3s ease-in;
        margin-bottom: 0!important;
        border-radius: 3px;
        &:hover,
        &:focus,
        &:active {
            background: darken($orange, 12%);
            border: 2px solid darken($orange, 12%);
        }
    }
    #nf-field-23-container{
        padding: 1em 0 0;    
    }
    #nf-field-7{
        padding-left: 3em;
        padding-right: 3em;
    }
    input[type='checkbox'] {
        position: relative;
        top: 4px;
        &:hover{
            position: relative;
            top: 4px;    
            right: 0;
            left: auto;
        }
    }
    
    .field-wrap input[type="button"] {
        float: right;
        padding: 1.1emh;
    }

    .nf-fu-progress-bar {
        background-color: $alt-blue;
    }

    .nf-form-fields-required {
        font-size: 0.9em;
        text-align: right;
        margin-bottom: 1em;
        font-style: italic;
    }
    
    .nf-after-form-content {
        .nf-error-msg,
        .ninja-forms-req-symbol {
            position: relative;
            background: $brand-danger;
            position: relative;
            padding: 1em 1.25em 1em 4.5em;
            display: block;
            width: 100%;
            margin: .75em 0 2.5em;
            color: white;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
            &:before {
                content: '';
                position: absolute;
                background: transparent;
                height: 100%;
                width: 50px;
                left: 0;
                top: 0;
            }
            &:before {
                background: darken($brand-danger, 8%);
            }
            &:after {
                content: '\f00d ';
                font-family: FontAwesome;
                position: absolute;
                left: 16px;
                top: 15px;
                font-size: 1.5em;
            }
        }
    }
}

//success message
.nf-response-msg{
    position: relative;
    background: $brand-success;
    position: relative;
    padding: 1em 1.25em 1em 4.5em;
    display: block;
    width: 100%;
    margin: .75em 0 2.5em;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    p{
        margin: 0;
    }
    &:before {
        content: '';
        position: absolute;
        background: transparent;
        height: 100%;
        width: 50px;
        left: 0;
        top: 0;
        background: darken($brand-success, 8%);
    }
    &:after {
        content: '\f00c';
        font-family: FontAwesome;
        position: absolute;
        left: 15px;
        top: 15px;
        font-size: 1.5em;
    }
}
