.close {
    display: none;
}

.default {
    display: inline-block;
}

.main-nav-showing {
    .close {
        display: inline-block;
    }
    .default {
        display: none;
    }
}

.hamburger {
    display: flex;
    .hamburger-box {
        @include media-breakpoint-up(sm) {
            margin-right: 0.5em;
        }
    }
    .hamburger-inner {
        background: white;
        &::before,
        &::after {
            background: white;
        }
    }
}

.nav-panel-label .default,
.nav-panel-label .close {
    transition: all 0.3s ease-in;
}