@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.scroll-btn {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 1em;
    display: block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    letter-spacing: 2px;
    a {
        color: white;
    }
    p {
        color: white;
    }
    .mouse {
        position: relative;
        display: block;
        width: 35px;
        height: 55px;
        margin: 0 auto 1em;
        border: 3px solid white;
        border-radius: 23px;
        > * {
            position: absolute;
            display: block;
            top: 29%;
            left: 50%;
            width: 8px;
            height: 8px;
            margin: -4px 0 0 -4px;
            background: white;
            border-radius: 50%;
            animation: ani-mouse 2.5s linear infinite;
        }
    }
}

#hero {
    height: calc(100vh - 150px);
    position: relative;
    background: $blue;
    overflow: hidden;
    min-height: 500px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(40em at top right, #db6331, transparent);
    }
    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-size: no-repeat;
        background-position: center;
        opacity: 0.7;
    }
    .hero-inner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        z-index: 99;
        h1 {
            margin: 0;
            text-transform: uppercase;
            color: white;
            @include text-shadow;
        }
        .post-meta-top {
            font-size: 1.2em;
            ul {
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    color: white;
                    a {
                        color: white;
                        @include text-shadow;
                    }
                }
            }
            span {
                color: white;
                @include text-shadow;
            }
        }
        @include post-format;
        .post-format-icon {
            right: 0.5em;
            bottom: 0.5em;
            @include media-breakpoint-up(md) { 
                font-size: 1.8em;
                width: 40px;
                height: 40px;
            }
        }
    }
}