#open-main-nav {
    border: 0;
    color: white;
    display: none;
    height: 100%;
    padding: 0 1em;
    margin-right: 1.5em;
    z-index: 9999;
    height: 70px;
    background: $orange;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &:focus,
    &:hover {
        background: darken($orange, 10%);
    }
    @include media-breakpoint-up(sm) {
        display: flex;
        flex-flow: row;
        flex-shrink: 0;
        width: 125px;
        justify-content: center;
        float: left;
    }
    &.push-over {
        .nav-panel-default {
            display: inline-block;
        }
    }
}

#main-navigation-container {
    transition: 0.3s ease-in;
    transform: translate(-110%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    background: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    padding-top: $header-height-sm;
    @include media-breakpoint-up(md) {
        padding-top: $header-height-md;
    }
    @include media-breakpoint-up(lg) {
        padding-top: $header-height-lg; 
    }
    &.sticky{
        padding-top: $header-height-sm;    
    }
    &.visible{
        #main-navigation-inner{
            padding-top: 0;   
        }
    }
    #main-navigation-inner{
        position: relative;
        top: 0;
        height: 100%;
        overflow-x: hidden;
        width: $main-nav-width;
    }
    &.visible {
        transform: translate(0);
    }
    #top-menu{
        padding: 0 1.5em;
        list-style: none;
        margin: 0;
    }
    li{
        width: 100%;
        position: relative;
        line-height: 1.5em;
        &:hover{
            &:before{
                color: $gray-darker;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: -1.5em;
                right: -1.5em;
                bottom: 0;
                background: $gray-light;
                z-index: -1;
            }
        }
        &.fa-home{
            &::before{
                font-size: 1.2em;   
                left: -1px;
                margin: -2px;
            }
        }
        &.fa-graduation-cap{
            &::before{
                left: -1px;
            }
        }
        &.fa-desktop{
            &::before{
                top: 0.8em;
            }
        }
        &.current-category-ancestor{
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: -1.5em;
                right: -1.5em;
                bottom: 0;
                background: $gray-light;
                z-index: -1;
            }            
        }
        &.current-menu-item{
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: -1.5em;
                right: -1.5em;
                bottom: 0;
                background: $gray-light;
                z-index: -1;
            }
            a{
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -1.5em;
                    width: 4px;
                    background: $orange;
                }                
            }
        }
        &::before{
            position: absolute;
            color: $gray-dark;
            left: 0;
            top: 0.7em;
        }
        &.top{
            border-top: 1px solid $border-color;
            margin-top: 0.6em;
            padding-top: 0.6em;
        }
        &.minor{
            &::after{
                display: none;
            }
            a{
                font-size: 0.85em;
                padding-left: 0;
                padding: 0.3em;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        a{
            font-family: 'Open Sans', sans-serif;
            color: $blue;
            display: block;
            padding: 0.7em 0;
            padding-left: 2em;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

.main-nav-showing{
    
}
