#open-main-nav {
    border: 0;
    color: white;
    height: 100%;
    padding: 0 1em;
    margin-right: 1.5em;
    z-index: 9999;
    height: 50px;
    background: $orange;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: none;
    &:focus,
    &:hover {
        background: darken($orange, 10%);
    }
    @include media-breakpoint-up(sm) {
        display: flex;
        flex-flow: row;
        flex-shrink: 0;
        width: 125px;
        justify-content: center;
        float: left;
    }
}

#main-navigation-container {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 99992;
    @include media-breakpoint-up(sm) {
        transition: 0.3s ease-in;
        transform: translate(-110%);
        position: absolute;
        height: 100vh;
        @include medium-dropshadow;
        padding-top: $header-height-sm;
    }
    @include media-breakpoint-up(md) {
        padding-top: $header-height-md;
    }
    @include media-breakpoint-up(lg) {
        padding-top: $header-height-lg;
    }
    &.sticky {
        @include media-breakpoint-up(sm) {
            padding-top: $header-height-sm;
        }
    }
    &.visible {
        #main-navigation-inner {
            padding-top: 0;
        }
    }
    #main-navigation-inner {
        @include media-breakpoint-up(sm) {
            width: $main-nav-width-sm;
            position: relative;
            top: 0;
            height: 100%;
            overflow-x: hidden;
            background: white;
        }
        @include media-breakpoint-up(md) {
            width: $main-nav-width;
        }
    }
    &.visible {
        @include media-breakpoint-up(sm) {
            transform: translate(0);
        }
    }
    #top-menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        width: 100%;
        position: relative;
        &.current-menu-parent {
            background: $gray-light;
        }
        &.minor {
            color: lighten($text-color, 10%);
            &::after {
                display: none;
            }
            &.top {
                border-top: 1px solid $border-color;
                margin-top: 0.6em;
                padding-top: 0.8em;
            }
            &.bottom {
                padding-bottom: 0.8em;
            }
            a {
                font-size: 0.85em;
                padding: 0.5rem 1.5rem;
                &:hover {
                    text-decoration: underline;
                    background: none;
                }
            }
        }
        &.external {
            &::after {
                content: '\f08e';
                position: absolute;
                right: 1.5em;
                top: 7px;
                font-family: FontAwesome;
                color: $gray-dark;
                display: block;
            }
        } //menu icon
        &::before {
            position: absolute;
            color: $gray-dark;
            left: 1.5em;
            top: 1.1em;
            z-index: 99;
        }
        &.fa-home {
            &::before {
                font-size: 1.2em;
                margin-top: -6px;
                left: 1.3em;
            }
        }
        &.fa-lightbulb-o {
            &::before {
                font-size: 1.3em;
                margin-top: -7px;
                left: 1.25em;
            }
        }
        &.fa-graduation-cap {
            &::before {
                left: 1.45em;
            }
        }
        &.fa-desktop {
            &::before {
                top: 1.25em;
            }
        }
        &.current-menu-item {
            background: $gray-light;
            > a {
                .menu-title {
                    z-index: 99;
                    position: relative;
                    display: block;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 6px;
                    background: $orange;
                    z-index: 99;
                }
            }
        }
        &.menu-item-has-children {
            > .submenu-toggle {
                color: white;
                cursor: pointer;
                padding: 0;
                right: 0;
                display: inline-block;
                background: #bcc3da;
                z-index: 9;
                width: 30px;
                height: 20px;
                position: absolute;
                top: 15px;
                display: flex;
                margin-right: 15px;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                z-index: 99;
                i{
                    position: relative;
                    top: -1px;
                }
            }
            &.sub-menu-opened {
                background: $gray-light;
                .submenu-toggle i {
                    transform: rotate(180deg);
                    top: 2px;
                }
            }
            a {
                &:hover {
                    background: none;
                }
            }
        }
        a {
            line-height: 1.3em;
            font-family: 'Open Sans', sans-serif;
            color: $blue;
            display: block;
            padding: 0.9em 1em;
            padding-left: 3.5em;
            position: relative;
            text-decoration: none;
            &:hover {
                display: block;
                width: 100%;
                background: $gray-light;
            }
        }
    }
    .sub-menu-wrap{
        background: white;
        padding: 10px 0;
        font-size: 0.9em;
    }
    .sub-menu {
        z-index: 9;
        position: relative;
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        background: white;
        transition: all 0.3s ease-in;
        &::after,
        &::before {
            width: 100%;
            height: 10px;
            background: white;
            content: '';
            display: block;
            position: absolute;
            z-index: 9;
        }
        &::before {
            top: 0;
            left: -2px;
        }
        &::after {
            bottom: -3px;
            left: -2px;
        }
        &.opened {
            height: auto;
            opacity: 1;
            transition: all 0.3s ease-in;
            overflow: visible;
        }
        li {
            margin-left: 2em;
            border-left: 1px solid $gray-light;
            width: calc(100% - 2em);
            &.current-menu-item{
                background: white;
                a{
                    color: $orange;
                    &::before{
                        height: 20px;
                        width: 5px;
                        left: -3px;
                        top: 50%;
                        margin-top: -10px;
                    }
                }    
            }
            a {
                color: $blue;
                &:hover {
                    background: none;
                    color: $orange;
                }
            }
        }
    }
}