@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }

img{
    max-width: 100%;
}

html{
    top:0!important;
}

#page{
    position: relative;
}

.admin-bar{
    &.header-stuck{
        @media only screen and (min-width: 604px) {
            #main-header, #breadcrumb, #main-navigation-container{
                margin-top: 32px;
            }
        }
    }
}

.admin-bar:not(.header-stuck) #main-navigation-container{
    margin-top: 32px;    
}

.nav-panel-visible{
    overflow: hidden;
    @include media-breakpoint-up(sm) {
        overflow: auto;
    }
}

blockquote{
    p{
        margin: 0
    }
}

cite{
    font-size: 1rem;
    font-style: italic;
    color: $gray-darkest;
    margin-top: 0.5em;
    display: block;
}

*:focus {
    outline: none;
}

figure{
    margin: 0.5em 0 0;
    figcaption{
        font-style: italic;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 0.5em;
    }
}

.caption{
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.5em;    
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-top: -1em;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%!important;
        height: 100%!important;
        border: 0;
    }
}

.html-code{
    audio, video{
        width: 100%;
    }
}

section{
    position: relative;
}

body{
    line-height: 1.4em;
}

a{
    text-decoration: none;
    color: lighten($alt-blue, 10%);
    &:hover, &:focus{
        text-decoration: underline;
    }
    &:visited{
        color: lighten($alt-blue, 5%);
    }
}

hr{
    border: 0;
    height: 1px;
    background: $border-color;
    margin: 2.5em 0;
    &.spacer{
        background: none;
    }
}

.sc-only, .screen-reader-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.the-end{
    display: none;
    text-align: center;
}

//wordpress menu bar when logged in.
#wpadminbar{
    background: #1b365d;
    border-bottom:  1px solid #3c5f92;
}

#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input{
    background: #1b365d;
}

#wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus{
    background: #1b365d;
}

#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a{
    color: #fcfafa
}