@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

html, body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 3em;
}

.lead{
    font-size: 1.3em;
    line-height: 1.5em;
}

p{
    line-height: 1.4em;
}
