#content-container{
    position: relative;
    transition: all 0.3s ease-in;
    &.main-nav-showing{
        padding-left: $main-nav-width;
    }
}

#main-content{
    min-height: 100vh;
    padding-bottom: 4em;
} 