#content-container{
    position: relative;
    transition: all 0.3s ease-in;
    &.main-nav-showing{
        transform: translate(300px);
    }
}

#main-content{
    min-height: 100vh;
    padding-bottom: 4em;
} 