.container-sm{
    max-width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(sm) {
        max-width: 750px;    
    }
    @include media-breakpoint-up(md) {
        max-width: 800px;    
    }
}

.container{
    &.full-width-override{
        @include media-breakpoint-down(md) {
            max-width: 100%!important;
            width: 100%!important
        }
    }
}